body{
    background-color:yellow;
}

#nav{
    display:flex;
    position: grid;
    

}

#pink{
    color:red;
    font-size: 2rem;
}
#green{
    color:green;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#profile-pic{
    height: 400px;
    width: 400px;
    border-radius:50%;
    align-content: center;
    position: relative;
    margin-left: 40%;
}
#footer{
    text-align: center;
}